.container {
    max-width: 100%;
}

.card-header {
    padding: 1rem 1.25rem 1rem 1.25rem;
    border-radius: 0;
    border-bottom: 0 !important;
}

.card-title {
    margin-bottom: 0;
    font-size: 22px;
}

a i {
    font-size: 18px !important;
}
