name: Continous Integration

on:
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: executing remote ssh commands using password
        uses: appleboy/ssh-action@master
        with:
          host: ${{ lcc.HOST }}
          username: ${{ lcc.USERNAME }}
          password: ${{ lcc.PASSWORD }}
          port: ${{ lcc.PORT }}
          script: echo "HELLO WORLD" >> temp.txt